<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74478390393-k78g7ipvg0nibbg9sa83b2gou9o4ts73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74478390393-k78g7ipvg0nibbg9sa83b2gou9o4ts73</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>74478390393-udhd6ortp62p4d4o7n65f9s8ogf1grqd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDm-E4yTangVD30orkrEk3oXVvfwAxzLnY</string>
	<key>GCM_SENDER_ID</key>
	<string>74478390393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.fat7i.customertaxi</string>
	<key>PROJECT_ID</key>
	<string>adam-otp</string>
	<key>STORAGE_BUCKET</key>
	<string>adam-otp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74478390393:ios:b199e78ece3c58703998a8</string>
</dict>
</plist>